{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <title>Landing Page</title>
  <style>
    html {
            font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif
          }
          
          img {
            border-radius: 50%;
            width: 12rem;
            box-shadow: 10px 10px 5px #888888;
          }
          .hero {
            height: 560px;
            background: linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url({% static 'img/hero_gif.gif' %}) no-repeat center center;
            background-color: #2c3e50;
            background-size: cover;
            padding-top: 10%;
          }
          
          .hero-cta {
            height: 350px;
            padding: 4%;
          }
          .hero-heading {
            font-size: 3rem;
          }
          
          .hero-form {
            padding-left: 5%;
            padding-right: 5%;
          }
          
          .cta {
            font-size: 2.5rem;
          }
          
          .feature-icon {
            font-size: 4.5rem;
            margin-top: 2rem;
            min-height: 9rem;
          }
          
          .feature-text {
            font-weight: 200;
            font-size: 1.5rem;
            margin-top: 1rem;
          }
          
          .feature-text-small {
            font-size: 1.25rem;
          }
          
          .feature-icon:hover {
            font-size: 5rem;
          }
          
          .row-product {
            padding: 8rem;
          }
          
          .product-img {
            min-height: 30rem;
            background-size: cover
          }
          
          .reviews {
            padding-top: 2%;
          }
          
  </style>
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Hackathon Landing</a>
      <a class="btn btn-primary" href="{% url 'login' %}">Sign In</a>
    </div>
  </nav>
  <!-- Hero -->
  <header class="hero text-light">
    <div class="container text-center">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="hero-heading mb-5">Build A Landing Page for Your Business to Generate More Leads</h1>
          <div class="col-12">
            <form class="hero-form d-flex flex-column flex-md-row" action="index.html" method="post">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" name="email" placeholder="Enter your email" class="form-control form-control-lg">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" name="sign-up" class="btn btn-primary btn-block btn-lg">Sign Up!</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- start main content -->
  <section class="features text-center bg-light">
    <div class="container pt-5 pb-5">
      <div class="row">
        <div class="col-md-4">
          <div class="feature-icon mb-2">
            <i class="fas fa-desktop text-primary"></i>
          </div>
          <h3>Responsive</h1>
            <p class="feature-text mt-2">This theme will look great on any device, no matter the size!</p>
        </div>
        <div class="col-md-4">
          <div class="feature-icon mb-2">
            <i class="fas fa-layer-group text-primary"></i>
          </div>
          <h3>Bootstrap Ready</h1>
            <p class="feature-text">Featuring the latest build of the new Bootstrap 4 framework!</p>
        </div>
        <div class="col-md-4">
          <div class="feature-icon mb-2">
            <i class="fas fa-check-circle text-primary"></i>
          </div>
          <h3>Easy To Use</h1>
            <p class="feature-text">Ready to use with your own content, or customize the source files!</p>
        </div>
      </div>
    </div>
  </section>
  <!-- start products -->
  <section class="products text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="row-product col-md-6">
          <h3>Fully Responsive Design</h3>
          <p class="feature-text">When you use a theme created by Start Bootstrap, you know that the theme will look
            great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
        </div>
        <!-- <div class="col-md-6 product-img" style="background: url({% static 'img/product1.jpg' %}) no-repeat center center; background-size: cover;"></div> -->
        <div class="col-md-6" style="padding: 0px !important; background: #b2bec3;">
          <canvas id="springydemo" height="auto" width="auto"></canvas>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 product-img" style="background: url({% static 'img/product2.jpg' %}) no-repeat center center; background-size: cover;"></div>
        <div class="row-product col-md-6">
          <h3>Fully Responsive Design</h3>
          <p class="feature-text">When you use a theme created by Start Bootstrap, you know that the theme will look
            great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
        </div>
      </div>
      <div class="row">
        <div class="row-product col-md-6">
          <h3>Fully Responsive Design</h3>
          <p class="feature-text">When you use a theme created by Start Bootstrap, you know that the theme will look
            great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
        </div>
        <div class="col-md-6 product-img" style="background: url({% static 'img/product3.jpg' %}) no-repeat center center; background-size: cover;"></div>
      </div>
    </div>
  </section>
  <!-- reviews -->
  <section class="reviews bg-light">
    <div class="container">
      <div class="row text-center pt-5 pb-5">
        <div class="col-12">
          <h2 class="mb-5">What People Are Saying</h2>
        </div>
        <div class="col-md-4">
          <img class="mt-4 mb-4" src="{% static 'img/marie.jpg' %}" alt="marie">
          <h4>Marie E.</h4>
          <p class="feature-text feature-text-small">"This is fantastic! Thanks so much guys!"</p>
        </div>
        <div class="col-md-4">
          <img class="mt-4 mb-4" src="{% static 'img/james.jpg' %}" alt="marie">
          <h4>James B.</h4>
          <p class="feature-text feature-text-small">"Bootstrap is amazing. I've been using it to create lots of super
            nice landing pages."</p>
        </div>
        <div class="col-md-4">
          <img class="mt-4 mb-4" src="{% static 'img/michael.jpg' %}" alt="marie">
          <h4>Michael R.</h4>
          <p class="feature-text feature-text-small">Thanks so much for making these free resources available to us!"</p>
        </div>
      </div>
    </div>
  </section>
  <!-- start cta -->
  <header class="hero hero-cta text-light">
    <div class="container text-center">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="cta mb-5">Ready to get started? Sign up now!</h1>
          <div class="col-md-12">
            <form class="hero-form d-flex flex-column flex-md-row" action="index.html" method="post">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" name="email" placeholder="Enter your email" class="form-control form-control-lg">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" name="sign-up" class="btn btn-primary btn-block btn-lg">Sign Up!</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </header>

  <footer>
    <div class="container">
      <div class="row mb-3 mt-4">
        <div class="col-md-6">
          <ul class="list-inline">
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item"><a href="#">Contact</a></li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item"><a href="#">Pricing</a></li>
            <li class="list-inline-item">&sdot;</li>
          </ul>
        </div>
        <div class="col-md-6 text-right">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row mb-2">
        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>
      </div>
    </div>

  </footer>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="{% static 'js/springy.js'%}"></script>
  <script src="{% static 'js/springy_ui.js'%}"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var canvas = document.getElementById("springydemo");
      var parent = canvas.parentElement;
      canvas.width = parent.offsetWidth;
      canvas.height = parent.offsetHeight;
    });
    var graph = new Springy.Graph();
    graph.addNodes('Dennis', 'Michael', 'Jessica', 'Timothy', 'Barbara')
    graph.addNodes('Amphitryon', 'Alcmene', 'Iphicles', 'Heracles');

    graph.addEdges(
      ['Dennis', 'Michael', {
        color: '#00A0B0',
        label: 'Foo bar'
      }],
      ['Michael', 'Dennis', {
        color: '#6A4A3C'
      }],
      ['Michael', 'Jessica', {
        color: '#CC333F'
      }],
      ['Jessica', 'Barbara', {
        color: '#EB6841'
      }],
      ['Michael', 'Timothy', {
        color: '#EDC951'
      }],
      ['Amphitryon', 'Alcmene', {
        color: '#7DBE3C'
      }],
      ['Alcmene', 'Amphitryon', {
        color: '#BE7D3C'
      }],
      ['Amphitryon', 'Iphicles'],
      ['Amphitryon', 'Heracles'],
      ['Barbara', 'Timothy', {
        color: '#6A4A3C'
      }]
    );

    jQuery(function () {
      var springy = jQuery('#springydemo').springy({
        graph: graph
      });
    });
  </script>
</body>

</html>