{% extends 'user/user_base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/dash.css'%}">
<style>
    .main-text {
        font-size: 40px;
    }
</style>
{% endblock css %}

{% block content %}
<h2 class="mt-4">My Connects</h2>
<div class="container-fluid connects shadow mt-4" style="background: linear-gradient(0deg,rgba(248, 248, 248, 0.3),rgba(126, 126, 126, 0.3)),url({% static 'img/cardboard.jpg' %}) no-repeat center center;background-size: cover">
    <canvas id="springydemo" height="auto" width="auto"></canvas>
</div>
<div class="container-fluid connects shadow" style="background: linear-gradient(0deg,rgba(248, 248, 248, 0.3),rgba(126, 126, 126, 0.3)),url({% static 'img/cardboard.jpg' %}) no-repeat center center;background-size: cover">
    <h2 class="mt-4 text-center main-text">Lets Play Fortnite</h2>
    <div class="row container">
        <div class="col-md-4 p-6 text-center">
            <ul>
                <li><h3>Attendee</h3></li>
                <li><h3>Attendee</h3></li>
                <li><h3>Attendee</h3></li>
                <li><h3>Attendee</h3></li>
                <li><h3>Attendee</h3></li>
            </ul>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
crossorigin="anonymous"></script>
<script src="{% static 'js/springy.js'%}"></script>
<script src="{% static 'js/springy_ui.js'%}"></script>
<script src="{% static 'js/app.js'%}"></script>
{% endblock script %}
