{% extends 'user/user_base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/dash.css'%}">
{% endblock css %}

{% block content %}
<h2 class="mt-4">My Connects</h2>
<div class="container-fluid connects shadow mt-4" style="background: linear-gradient(0deg,rgba(248, 248, 248, 0.3),rgba(126, 126, 126, 0.3)),url({% static 'img/cardboard.jpg' %}) no-repeat center center;background-size: cover">
    <canvas id="springydemo" height="auto" width="auto"></canvas>
</div>
<h2 class="mt-4">My Boxes: </h2>
<div class="row mt-0">
<!-- Stert boxes -->
    <!-- box 1 -->
    <div class="col-md-6 box-container ">
        <div class="box-main shadow" style="background: linear-gradient(0deg,rgba(248, 248, 248, 0.3),rgba(216, 216, 216, 0.3)),url({% static 'img/cardboard.jpg' %}) no-repeat center center; background-size: cover">
            <div class="row">
                <div class="col-8">
                    <h1>Weekend long camping trip</h1>
                </div>
                <div class="col-4">
                    <div class="qr">
                        <img src="{% static 'img/th.jpeg'%}" alt="">
                    </div>
                </div>
            </div>
            <hr>
            <div class="row p-4">
                    <div class="col-6">
                        <div class="row text-center">
                            <div class="col-12">
                                <button class="btn btn-primary">Add Token</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <h6>Host: admin</h6>
                    </div>
                </div>
            
            <div class="box-facts-container">
                <div class="row">
                    <div class="col-6">
                        <h2 class="main-text">Box Facts</h2>
                    </div>
                    <div class="col-6">
                        <p>Expiration date: 2-30-2019</p>
                    </div>
                </div>
    
                <hr>
                <p>Serving size: 50 people</p>
                <h2>Connection Score: 255</h2>
                <hr>
                <table class="table">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">% Box Value</th>
                    </tr>
                    <tr>
                        <th scope="row">Greek Life</th>
                        <td></td>
                        <td>25p</td>
                        <td>%50</td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>Frat</td>
                        <td>15p</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>Sorrority</td>
                        <td>10p</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Sports</th>
                        <td></td>
                        <td>25p</td>
                        <td>%33</td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>Football</td>
                        <td>15p</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>Soccer</td>
                        <td>10p</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Majors</th>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>Math</td>
                        <td>5p</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>Comp-Sci</td>
                        <td>10p</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">-</th>
                        <td>Business</td>
                        <td>10p</td>
                        <td></td>
                    </tr>
                </table>
                <hr>
                <h2>Description</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe sequi labore ullam, quod earum ipsum beatae assumenda repellat iusto aliquam tempore vero laboriosam blanditiis non velit nobis sunt veritatis illo.</p>
            </div>
        </div>
    </div>
    <!-- Start box 2 -->
        <!-- box 1 -->
        <div class="col-md-6 box-container ">
                <div class="box-main shadow" style="background: linear-gradient(0deg,rgba(248, 248, 248, 0.3),rgba(216, 216, 216, 0.3)),url({% static 'img/cardboard.jpg' %}) no-repeat center center; background-size: cover">
                    <div class="row">
                        <div class="col-8">
                            <h1>Concert This Weekend</h1>
                        </div>
                        <div class="col-4">
                            <div class="qr">
                                <img src="{% static 'img/th.jpeg'%}" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row p-4">
                        <div class="col-6">
                            <div class="row text-center">
                                <div class="col-12">
                                    <button class="btn btn-primary">Add Token</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <h6>Host: admin</h6>
                        </div>
                    </div>
                    
                    <div class="box-facts-container">
                        <div class="row">
                            <div class="col-6">
                                <h2 class="main-text">Box Facts</h2>
                            </div>
                            <div class="col-6">
                                <p>Expiration date: 2-30-2019</p>
                            </div>
                        </div>
            
                        <hr>
                        <p>Serving size: 50 people</p>
                        <h2>Connection Score: 555</h2>
                        <hr>
                        <table class="table">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">% Box Value</th>
                            </tr>
                            <tr>
                                <th scope="row">Greek Life</th>
                                <td></td>
                                <td>25p</td>
                                <td>%50</td>
                            </tr>
                            <tr>
                                <th scope="row">-</th>
                                <td>Frat</td>
                                <td>15p</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">-</th>
                                <td>Sorrority</td>
                                <td>10p</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Sports</th>
                                <td></td>
                                <td>25p</td>
                                <td>%33</td>
                            </tr>
                            <tr>
                                <th scope="row">-</th>
                                <td>Football</td>
                                <td>15p</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">-</th>
                                <td>Soccer</td>
                                <td>10p</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Majors</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">-</th>
                                <td>Math</td>
                                <td>5p</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">-</th>
                                <td>Comp-Sci</td>
                                <td>10p</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">-</th>
                                <td>Business</td>
                                <td>10p</td>
                                <td></td>
                            </tr>
                        </table>
                        <hr>
                        <h2>Description</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe sequi labore ullam, quod earum ipsum beatae assumenda repellat iusto aliquam tempore vero laboriosam blanditiis non velit nobis sunt veritatis illo.</p>
                    </div>
                </div>
            </div>
</div>
<!-- Reccomendations -->
<h2 class="mt-4">Relationship Results For: johnnyBoy01 </h2>
<div class="row">
        <!-- Stert boxes -->
            <!-- box 1 -->
            <div class="col-md-6 box-container ">
                <div class="box-main shadow" style="background: linear-gradient(0deg,rgba(248, 248, 248, 0.3),rgba(216, 216, 216, 0.3)),url({% static 'img/cardboard.jpg' %}) no-repeat center center; background-size: cover">
                    <div class="row">
                        <div class="col-8">
                            <h1>Basketball Tonight</h1>
                        </div>
                        <div class="col-4">
                            <div class="qr">
                                <img src="{% static 'img/th.jpeg'%}" alt="">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row p-4">
                        <div class="col-6">
                            <div class="row text-center">
                                <div class="col-12 mb-4">
                                        <h6>Need an invite token?</h6>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-light">Nope</button>
                                </div>
                                <div class="col-6">
                                    <button class="btn btn-primary">Yeah</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <h6>Host: tangomostor99</h6>
                            <h6>Event suggestion based on your connections with johnnyBoy01</h6>
                        </div>
                    </div>
                    
                    <div class="box-facts-container">
                        <div class="row">
                            <div class="col-6">
                                <h2 class="main-text">Box Facts</h2>
                            </div>
                            <div class="col-6">
                                <p>Expiration date: 2-30-2019</p>
                            </div>
                        </div>
            
                        <hr>
                        <p>Serving size: 50 people</p>
                        <h2>Connection Score: 800</h2>
                        <hr>
                        <table class="table">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">% Box Value</th>
                            </tr>
                            <tr>
                                <th scope="row">Greek Life</th>
                                <td></td>
                                <td>25p</td>
                                <td>%50</td>
                            </tr>
                            <tr>
                                <th scope="row">-</th>
                                <td>Frat</td>
                                <td>15p</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">-</th>
                                <td>Sorrority</td>
                                <td>10p</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Sports</th>
                                <td></td>
                                <td>25p</td>
                                <td>%33</td>
                            </tr>
                            <tr>
                                <th scope="row">-</th>
                                <td>Football</td>
                                <td>15p</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">-</th>
                                <td>Soccer</td>
                                <td>10p</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Majors</th>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">-</th>
                                <td>Math</td>
                                <td>5p</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">-</th>
                                <td>Comp-Sci</td>
                                <td>10p</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">-</th>
                                <td>Business</td>
                                <td>10p</td>
                                <td></td>
                            </tr>
                        </table>
                        <hr>
                        <h2>Description</h2>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe sequi labore ullam, quod earum ipsum beatae assumenda repellat iusto aliquam tempore vero laboriosam blanditiis non velit nobis sunt veritatis illo.</p>
                    </div>
                </div>
            </div>
            <!-- Start box 2 -->
                <!-- box 1 -->
                <div class="col-md-6 box-container ">
                        <div class="box-main shadow" style="background: linear-gradient(0deg,rgba(248, 248, 248, 0.3),rgba(216, 216, 216, 0.3)),url({% static 'img/cardboard.jpg' %}) no-repeat center center; background-size: cover">
                            <div class="row">
                                <div class="col-8">
                                    <h1>Concert This Weekend</h1>
                                </div>
                                <div class="col-4">
                                    <div class="qr">
                                        <img src="{% static 'img/th.jpeg'%}" alt="">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row p-4">
                                <div class="col-6">
                                    <div class="row text-center">
                                        <div class="col-12 mb-4">
                                                <h6>Need an invite token?</h6>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn btn-light">Nope</button>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn btn-primary">Yeah</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h6>Host: glowGirl44</h6>
                                    <h6>Event suggestion based on your connections with johnnyBoy01</h6>
                                </div>
                            </div>
                            
                            <div class="box-facts-container">
                                <div class="row">
                                    <div class="col-6">
                                        <h2 class="main-text">Box Facts</h2>
                                    </div>
                                    <div class="col-6">
                                        <p>Expiration date: 2-30-2019</p>
                                    </div>
                                </div>
                    
                                <hr>
                                <p>Serving size: 50 people</p>
                                <h2>Connection Score: 800</h2>
                                <hr>
                                <table class="table">
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col"></th>
                                        <th scope="col">% Box Value</th>
                                    </tr>
                                    <tr>
                                        <th scope="row">Greek Life</th>
                                        <td></td>
                                        <td>25p</td>
                                        <td>%50</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">-</th>
                                        <td>Frat</td>
                                        <td>15p</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">-</th>
                                        <td>Sorrority</td>
                                        <td>10p</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Sports</th>
                                        <td></td>
                                        <td>25p</td>
                                        <td>%33</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">-</th>
                                        <td>Football</td>
                                        <td>15p</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">-</th>
                                        <td>Soccer</td>
                                        <td>10p</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Majors</th>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">-</th>
                                        <td>Math</td>
                                        <td>5p</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">-</th>
                                        <td>Comp-Sci</td>
                                        <td>10p</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">-</th>
                                        <td>Business</td>
                                        <td>10p</td>
                                        <td></td>
                                    </tr>
                                </table>
                                <hr>
                                <h2>Description</h2>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe sequi labore ullam, quod earum ipsum beatae assumenda repellat iusto aliquam tempore vero laboriosam blanditiis non velit nobis sunt veritatis illo.</p>
                            </div>
                        </div>
                    </div>
        </div>

</div>
{% endblock content %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="{% static 'js/springy.js'%}"></script>
<script src="{% static 'js/springy_ui.js'%}"></script>
<script src="{% static 'js/app.js'%}"></script>
{% endblock script %}